<html>
<head>
  <title>City Gram + Search Proof of Concept</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.css">
  <style type="text/css">
  .event-card {
    margin: 20px;
    box-shadow: 3px 3px 5px #ddd;
    float: left;
  }
  .event-card h3 {
    font-weight: bold;
  }
  .description {
    padding: 5px;
    color: #333;
  }
  </style>

</head>
<body ng-app='CityGram'>
  <nav class='top-bar'>
    <ul class='title-area'>
      <li class='name'><h1><a href="#">City Gram</a></h1></li>
    </ul>
  </nav>

  <div ng-controller='SearchCtrl' id='events_holder' class='row'>
    <h3>{{site_title}}</h3>
    <form>
    
    <label>Search City</label>
      <input ng-model="home.search" type="text" autofocus="autofocus" class="form-control" googleplace class='large-8'>
    </form>

    <div ng-repeat='pic in picture_results'>
      <a ng-href={{pic.link}}> {{pic.caption.text}} </a>
    </div>
  </div>

  <button>Go</button>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.min.js'></script> 
  <script src='javascript/app.js'></script>
  <script src='javascript/directives.js'></script>
</body>
</html>