p {
  word-wrap: break-word;
  overflow: hidden;
}
p.caption {
  color: cadetblue;
  font-size: 0.8em;
  margin: 30px auto;
}

.profile_picture {
  width:40px;
  margin-right: 10px;
  float:left;
  border-radius: 3px;
  border-radius: 5px;
}
.event-card {
  margin: 20px;
  box-shadow: 3px 3px 5px #ddd;
  float: left;
}
.event-card h3 {
  font-weight: bold;
}
.description {
  padding: 5px;
  color: #333;
}
.ig-card {
  float: left;
  margin: 5px;
  height: 188px;
  padding: 3px;
  background-color: rgba(0,0,0, 0.2);
  position: relative;
}
.ig-card span.eye {
  visibility: visible;
  position: absolute;
  display: block;
  background: rgba(0,0,0, 0.7);
  color: #fff;
  width: inherit; 
  right: 0;
  border-radius: 0 0 0 5px;
  padding: 5px;
}
.ig-card span.hover-image-details {
  display: none;
  visibility: hidden;
}
.ig-card:hover span.hover-image-details {
  visibility: visible;
  display: block;
  background: rgba(0,0,0, 0.7);
  color: #fff;
  position: relative;
  overflow: scroll;
  bottom: 50px;
  height: 40px;
}

.ig-list {
  clear: both;
  text-align: center;
}
.map { 
  height: 300px; 
  width: 300px;
}
.next {
  position: relative;
  right: -60px;
  float: right;
  top: 200px;
}
.previous {
  position: relative;
  left: -60px;
  top: 200px;
}
#chat-panel {
  height: 100%;
  background: #ddd;
}